* { 
  outline: 1px transparent #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

.bg-yellow {
  background-image: url("../images/yellow-bg.jpg");
  background-color: grey;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0.8px) brightness(100%);
  min-height: 100vh;
  height: 100%;
  width: 45%;
  display:flex;
  align-items: center;
}

.header {
  background: #E1DCD9;
  height: 200px;
  color: #32435F
}

.name-h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: black;
  padding-top: 2.0rem;
  height: 130px
}

.title-h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  height: 60px;
  margin: 0
}

.about-nav {
  background: #8F8681;
}

.experience-nav {
  background: #32435F;
}

.projects-nav {
  background: #A67F78;
}

.nav-box {
    color: white;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-top: 20px;
    margin: 0
}

button {
  font-weight: lighter;
  border: solid 1px white;
  padding: 4%;
  font-size: 1rem;
  background: none;
  width: 60%;
  color: white;
  margin-top: auto;
  margin-bottom: auto
  }

button:hover {
  font-weight: lighter;
  border: solid 1px #8F8681;
  margin-top: auto;
  margin-bottom: auto;
  padding: 4%;
  font-size: 1rem;
  background: white;
  width: 60%;
  color: #8F8681;
}

.about {
background: #E1DCD9;
padding: 40px;
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
line-height: 1.9rem;
width: 104%;
margin-top: 520px;
margin-right: 0;
margin-left: 0;
}

.about-p {
  border: solid 1px #32435F;
  padding: 20px
}

.about-h5 {
  padding-bottom: 20px;
  padding-top: 20px;
}

li {
  list-style-type: disc;
  padding: 2px
}

.stack-list {
  background: #32435F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-align: left;
  padding: 20px 70px;
  font-size: 0.9rem;
  margin: 0
}

.stack-h5 {
  background: #32435F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: left;
  padding: 20px 40px;
  font-size: 1.1rem;
  margin: 0;
  width: 100%;
  border-bottom: solid 1px white
}

.stack {
  width: 10%
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.links {
  background: #E1DCD9;
  color: #32435F;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.fa {
  padding: 0 20px 15px 20px;
  color: #32435F;
}

.golf {
  background-image: url("../images/golf.png");
  background-color: grey;
  background-size: cover !important;
  width: 200px;
  height: 180px;
  color: white;
}

.golf-h5 {
  text-align: right;
  padding-top: 140px;
  padding-right: 20px;
  letter-spacing: 2px
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .name-h1 {
    padding-top: 2.0rem;
    height: 80px
  }
  
  .title-h5 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    height: 50px
  }

  .about {
    margin-top: 230px;
    width: 104%
    }

    .coffee {
      background-image: url("../images/coffee.jpeg");
      background-color: grey;
      background-size: cover !important;
    }

    .stack-h5 {
      visibility: hidden;
      margin-top: -70px
    }

    .row-stack {
      width: 103%
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .about {
    margin-top: 230px
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .name-h1 {
    padding-top: 2.0rem;
    height: 80px
  }
  
  .title-h5 {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    height: 50px
  }

  .about {
    margin-top: 250px;
    width: 102%
    }

    .coffee {
      background-image: url("../images/coffee.jpeg");
      background-color: grey;
      background-size: cover !important;
    }

    .stack-h5 {
      visibility: hidden;
      margin-top: -70px
    }
}






/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* button {
    width: 40%;
    padding: 20px;    
  }
  
  button:hover {
    width: 40%;
    padding: 20px;    
  }
  
  .nav-box {
    color: white;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-top: 20px;
    margin: 0
}

.name-h1 {
  height: 100px
}

.about {
  margin-top: 460px
} */

}

/* No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 575.98px) {}


