* { 
  outline: 1px transparent #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

.bg-yellow {
  background-image: url("../images/yellow-bg.jpg");
  background-color: grey;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0.8px) brightness(100%);
  min-height: 100vh;
  height: 100%;
  width: 45%;
  display:flex;
  align-items: center;
}

.header {
  background: #E1DCD9;
  height: 200px;
  opacity: 0.9;
  color: #32435F
}

.name-h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: black;
  padding-top: 3rem
}

.about-nav {
  background: #8F8681;
}

.experience-nav {
  background: #A67F78;
}

.projects-nav {
  background: #32435F;
}

.nav-box {
    color: white;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

button {
  font-weight: lighter;
  border: solid 1px white;
  padding: 4%;
  font-size: 1rem;
  background: none;
  width: 60%;
  color: white;
  margin-top: 2.5rem
}

button:hover {
  font-weight: lighter;
  border: solid 1px #8F8681;
  margin-top: 2.5rem;
  padding: 4%;
  font-size: 1rem;
  background: white;
  width: 60%;
  color: #8F8681;
  
}

.title-h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  padding-top: 1%
}

.about {
background: #E1DCD9;
padding: 3%;
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
line-height: 1.9rem;
margin: 0;
width: 100%
}



li {
  list-style-type: armenian
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  button {
    font-weight: lighter;
    border: solid 1px white;
    padding: 4%;
    font-size: 1rem;
    background: none;
    width: 60%;
    color: white;
    margin-top: 2.5rem
  }
  
  button:hover {
    font-weight: lighter;
    border: solid 1px #8F8681;
    margin-top: 2.5rem;
    padding: 4%;
    font-size: 1rem;
    background: white;
    width: 60%;
    color: #8F8681;
    
  }
}

.coffee {
  background-image: url("../images/coffee.jpeg");
  background-color: grey;
  background-size: cover !important;

}


.stack-list {
  background: #32435F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-align: left;
  padding: 2%;
  font-size: 0.9rem;
  margin: 0
}

.stack {
  width: 10%
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  button {
    width: 40%;
  }
  
  button:hover {
    width: 40%;    
  }
}

/* No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 575.98px) {}