* { 
  outline: 1px solid #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

.bg-yellow {
  background-image: url("../images/yellow-bg.jpg");
  background-color: grey;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0.8px) brightness(100%);
  min-height: 100vh;
  height: 100%;
  width: 45%;
  display:flex;
  align-items: center;
}

.header {
  background: #E1DCD9;
  height: 200px;
  opacity: 0.9;
  color: #32435F
}

.name-h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: black;
  padding-top: 3rem
}

.about {
  background: #8F8681;
}

.experience {
  background: #A67F78;
}

.projects {
  background: #32435F;
}

.nav-box {
    color: white;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.nav-h4 {
  font-weight: lighter;
  border: solid 1px white;
  margin: 25% 10%;
  padding: 4%;
  font-size: 1rem
}

.title-h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: black;
  padding-top: 1%
}