* { 
  outline: 1px transparent #947676 !important; 
  } 
  
   * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }

/* Example to use for a background image to cover the whole page */

.bg-yellow {
  background-image: url("../images/yellow-bg.jpg");
  background-color: grey;
  background-position: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(0.8px) brightness(100%);
  min-height: 100vh;
  height: 100%;
  width: 45%;
  display:flex;
  align-items: center;
}

/* MOBILE FIRST DESIGN ----------------------------------------------------------------------------------------------------------- */

/* HEADER -------------------------------------- */

.header {
  background: #E1DCD9;
  color: #32435F;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.name-h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  color: #32435F;
  padding: 10px;
  height: 60px;
  font-size: 2.2rem;
  margin: 0
}

.title-h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #32435F;
  height: 40px;
  margin: 0;
  padding-bottom: 10px
}

/* HEADER (NAV) ----------------------------------- */

.about-nav {
  background: #8F8681;
}

.contact-nav {
  background: #32435F;
}

.projects-nav {
  background: #A67F78;
}

.nav-box {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 0;
    height: 60px;
    position: relative;
    width: 33.33333%;
    min-height: 1px;

}

button {
  font-weight: lighter;
  border: solid 1px white;
  padding: 4%;
  font-size: 1rem;
  background: none;
  width: 100%;
  color: white;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px
  }

button:hover {
  font-weight: lighter;
  border: solid 1px #8F8681;
  padding: 4%;
  font-size: 1rem;
  background: white;
  width: 100%;
  color: #8F8681;
}

/* ICON SECTION ----------------------------------- */

.links {
  background: #E1DCD9;
  color: #32435F;
  width: 100%;
  text-align: center;
  padding-bottom: 0;
  height: 40px

}

.fa {
  padding: 15px 20px;
  color: #32435F;
}

.fa:hover {
  color: #A67F78;
}

/* CONTACT COMPONENT ----------------------------------- */

.contact {
  background: #E1DCD9;
  padding: 50px 40px 40px 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.9rem;
  margin-top: 200px;
  margin-right: 0;
  margin-left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  height: 100vh;

}

.contact-h3-1 {
  background: #A67F78;
  color: white;
  width: 300px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.contact-h3-2 {
  background: #32435F;
  color: white;
  width: 300px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.contact-img {
  width:  100%;
  height: auto
}

.contact-h4 {
  font-size: 1.1rem
}

.contact-link {
  color: #32435F;
  text-decoration: underline
}

.contact-link:hover {
  color: #A67F78
}

.contact-details {
  margin-top: auto;
  margin-bottom: auto;

  
}

.contact-box {
  border: solid 1px #32435F;
  margin: 20px 0;
  padding: 10px;
}


/* ABOUT SECTION ----------------------------------- */

.about {
  background: #E1DCD9;
  padding: 20px 40px 40px 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.9rem;
  margin-top: 200px;
  margin-right: 0;
  margin-left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}

.about-p {
  border: solid 1px #32435F;
  padding: 20px
}

.about-h5 {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center
}

/* HOBBIES SECTION ----------------------------------- */

.hobbies-h5 {
  padding: 15px 0;
  text-align: center;
  margin-bottom: -15px;
  margin-top: 15px
}


.hobbies-images {
  justify-content: center
  }

/* GOLF SECTION ----------------------------------- */

.golf {
  background-image: url("../images/golf.png");
  background-color: grey;
  background-size: cover !important;
  width: 200px;
  height: 180px;
  color: white;
  margin: 0.2%
}

.golf-h5 {
  text-align: right;
  padding-top: 120px;
  padding-right: 80px;
  letter-spacing: 2px
}

/* TRAVEL SECTION ----------------------------------- */

.travel {
  background-image: url("../images/travel.png");
  background-color: grey;
  background-size: cover !important;
  width: 200px;
  height: 180px;
  color: white;
  margin: 0.2%

}

.travel-h5 {
  text-align: right;
  padding-top: 60px;
  padding-right: 5px;
  letter-spacing: 2px;
  font-size: 1.1rem
}


/* RUNNING SECTION ----------------------------------- */

.running {
  background-image: url("../images/half-marathon.png");
  background-color: grey;
  background-size: cover !important;
  width: 200px;
  height: 180px;
  color: white;
  margin: 0.2%
}

.running-h5 {
  text-align: right;
  padding-top: 150px;
  padding-right: 10px;
  letter-spacing: 2px;
  font-size: 1.1rem
}

/* SNOWBOARD SECTION ----------------------------------- */

.snowboard {
  background-image: url("../images/snowboard.png");
  background-color: grey;
  background-size: cover !important;
  width: 200px;
  height: 180px;
  color: white;
  margin: 0.2%
}

.snowboard-h5 {
  text-align: right;
  padding-top: 150px;
  padding-right: 55px;
  letter-spacing: 2px;
  font-size: 1.0rem
}

/* STACK SECTION ----------------------------------- */

li {
  list-style-type: disc;
  padding: 2px;
  margin-left: 40px
}

.stack-list {
  background: #32435F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  text-align: left;
  padding: 20px 70px;
  font-size: 0.9rem;
  margin: 0;
  width: 100%
}

.stack-h5 {
  background: #32435F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: left;
  padding: 10px 0px 10px 30px;
  font-size: 1.1rem;
  margin: 0 0 15px -15px;
  width: 100%;
  border-bottom: solid 1px white
}

.stack {
  width: 10%
}

/* COFFEE SECTION ----------------------------------- */

.coffee {
  width:  100%;
  height: auto
}


/* EXPERIENCE SECTION ------------------------------------- */

.experience {
  background: #E1DCD9;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.9rem;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/* EDA SECTION ---------------------------------------------- */

.eda-p {
  border: solid 1px #32435F;
  padding: 20px;
}

.eda-h3 {
  text-align: center
}

/* WOMEN IN TECH SECTION ----------------------------------- */

.women-p {
  padding: 20px; 
  text-align: center
}

.eda-pic {
  background-image: url("../images/eda.png");
  background-color: grey;
  height: auto;
}

.eda-link {
  padding-top: 20px
}

.a-eda {
  color: #32435F;
  text-decoration: underline;
}

.a-eda:hover {
  color: #A67F78
}

/* PROJECTS SECTION ----------------------------------- */

.projects {
background: #E1DCD9;
color: #32435F;
font-family: 'Montserrat', sans-serif;
flex-wrap: wrap;
display: flex;
margin-top: 160px
}

.row {
  margin: 0
}

.project {
  border: solid 1px white;
  margin: 40px 20px 20px 20px;
}

.projects-h3 {
  text-align: center;
  padding: 20px 20px 20px 20px;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: #32435F;
  margin-bottom: -8px;
  font-family: 'Montserrat', sans-serif;
}

.project-full {
  background: #E1DCD9;
}

.projects-h4 {
  text-align: center;
  padding: 20px 0px 5px 0;
  font-size: 1.1rem;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  border-bottom: solid 1px white;
  width: 35%;
  margin-left: auto;
  margin-right: auto
}

.p-project {
  text-align: left;
  padding: 30px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  font-size: 0.9rem
}

.project-heading {
  flex-wrap: wrap;
  display: flex; 
}

/* Larger than phablet  ----------------------------------------------------------------------------------*/
@media (min-width: 550px) {
  button {
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%
    }
  
  button:hover {
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%
  }

  .nav-box {
    height: 80px;
}

  .hobbies {
    margin-left: 4%;
    margin-right: 4%;
  }

  .contact {
    margin-top: 220px;
  }

  .contact-details {
    flex-wrap: wrap;
    display: flex; 
    padding: 5px
  }

  .contact-h4 {
    width: 30%
  }
}

/* Larger than tablet  ----------------------------------------------------------------------------------*/
@media (min-width: 768px) {
  .hobbies {
    margin-left: 18%;
    margin-right: 18%;
  }

  .col-md-6 {
    max-width: 100%;
    flex: 0 0 50%;
  }

  .contact {
    flex-wrap: flex;
    display: flex;
  }

  .projects {
    margin-top: 200px
  }

  /* .row-stack {
    display: flex;
    flex-wrap: wrap
  }

  .stack-list {
    max-width: 40%;
    flex: 0 0 50%;
  }

  .coffee {
    width: 60%;
  } */
  



}

/* Larger than desktop  ----------------------------------------------------------------------------------*/
@media (min-width: 1000px) {
  button {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    padding: 2%
    }
  
  button:hover {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    padding: 2%
  }

  .nav-box {
    height: 90px;
}

  .col-md-6 {
    max-width: 100%;
    flex: 0 0 50%;
  }

  .about {
    display: flex;
    flex-wrap: wrap
  }

  .hobbies {
    margin: 2%
  }

  .stack-list {
    max-width: 100%;
    flex: 0 0 50%;
  }

  .coffee {
    display: none;
  }



  


}

/* Larger than Desktop HD  ----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  button {
    width: 50%
  }

  button:hover {
    width: 50%
  }

  .about {
    margin-top: 220px
  }

  .hobbies {
    margin: 4%
  }

    .row-stack {
    display: flex;
    flex-wrap: wrap
  }

  .stack-list {
    width: 50%
    }

  .coffee {
    height: auto;
    width: 50%;
    display: initial;
  } 
}



